{% extends "layout.html" %}
{% block content %}
<div id="page_mainbody">
        <div id="home_paragraph1">
                <h3 id="page_header">Mod: Main</h3>
                <div id="page_mainbody_home">
                    <a href="{{ url_for('mod_approval_games') }}" class="button_link"><p class="button">Game Approvals</p></a>
                    <a href="{{ url_for('home') }}" class="button_link"><p class="button">Tag Approvals</p></a>
                    <a href="{{ url_for('home') }}" class="button_link"><p class="button">Genre Approvals</p></a>
                    <a href="{{ url_for('mod_approval_devpubs') }}" class="button_link"><p class="button">Developer Approvals</p></a>
                </div>
        </div>
</div>
{% endblock %}