{% extends "layout.html" %}
{% block content %}
<div id="page_mainbody">
        <div id="home_paragraph1">
                <h3 id="page_header">All Games</h3>
                <div id="page_mainbody_home">
                        {% if game_list|length > 0 %}
                                {% set previous_gid = gid - no_results %}
                                {% set next_gid = gid + no_results %}
                                {% if next_gid > total_results - 1 %}
                                        {% set next_gid = total_results - 1 %}
                                {% endif %}
                                {% set current_page = current_page + 1 %}
                                {% if previous_gid >= 0 and next_gid < total_results - 1 %}
                                        <p><a href="{{ url_for('game_list', gid=0) }}"><< First</a> <a href="{{ url_for('game_list', gid=previous_gid) }}">< Previous</a> ({{ current_page }}/{{ no_pages }}) <a href="{{ url_for('game_list', gid=next_gid) }}">Next ></a> <a href="{{ url_for('game_list', gid=total_results - 10) }}">Last >></a></p>
                                {% elif previous_gid < 0 %}
                                        <p>({{ current_page }}/{{ no_pages }}) <a href="{{ url_for('game_list', gid=next_gid) }}">Next ></a> <a href="{{ url_for('game_list', gid=total_results - 10) }}">Last >></a></p>
                                {% else %}
                                        <p><a href="{{ url_for('game_list', gid=0) }}"><< First</a> <a href="{{ url_for('game_list', gid=previous_gid) }}">< Previous</a> ({{ current_page }}/{{ no_pages }})</p>
                                {% endif %}
                                {% for game in game_list %}
                                        <a href="{{ url_for('game_page', game_id=game.game_id) }}">
                                                <div class="game_box">                                                
                                                        {#<p>ID: {{ game.game_id }}</p>#}
                                                        <p>Title: {{ game.game_title }}</p>
                                                        {#<p>Alternate Titles: {{ game.game_aka }}</p>#}
                                                        {#<p>Description: {{ game.game_desc }}</p>#}
                                                        <p>Release Date: {{ game.game_rdate }}</p>
                                                        {#<p>Release State: {{ game.game_rstate }}</p>#}
                                                        {#<p>Steam URL: <a href="{{ game.game_url }}">{{ game.game_url }}</a></p>#}
                                                </div>
                                        </a>
                                        <br>
                                {% endfor %}
                                {% if previous_gid >= 0 and next_gid < total_results - 1 %}
                                        <p><a href="{{ url_for('game_list', gid=0) }}"><< First</a> <a href="{{ url_for('game_list', gid=previous_gid) }}">< Previous</a> ({{ current_page }}/{{ no_pages }}) <a href="{{ url_for('game_list', gid=next_gid) }}">Next ></a> <a href="{{ url_for('game_list', gid=total_results - 10) }}">Last >></a></p>
                                {% elif previous_gid < 0 %}
                                        <p>({{ current_page }}/{{ no_pages }}) <a href="{{ url_for('game_list', gid=next_gid) }}">Next ></a> <a href="{{ url_for('game_list', gid=total_results - 10) }}">Last >></a></p>
                                {% else %}
                                        <p><a href="{{ url_for('game_list', gid=0) }}"><< First</a> <a href="{{ url_for('game_list', gid=previous_gid) }}">< Previous</a> ({{ current_page }}/{{ no_pages }})</p>
                                {% endif %}
                        {% else %}
                                <p>No games match your search!</p>
                        {% endif %}
                </div>
        </div>
</div>
{% endblock %}