{% extends "layout.html" %}
{% block content %}
<div id="page_mainbody">
        <div id="home_paragraph1">
                <h3 id="page_header">Add a new game</h3>
                <div id="page_mainbody_home">
                        <form id="game_add_form">
                                <p>Game Title:</p>
                                <input class="textbox" type="text" id="game_forename" name="txt_game_title" required placeholder="Game's Title">
                                <br>
                                <p>AKA (Seperate with commas):</p>
                                <input class="textbox" type="text" id="game_aka" name="txt_game_aka" placeholder="Also Known As">
                                <br>
                                <p>Description:</p>
                                <textarea class="textbox" type="text" id="game_desc" name="txt_game_desc" placeholder="A game where the player must do this and that to win this and that." style="resize: none;"></textarea>
                                <br>
                                <p>Release Date:</p>
                                <input class="textbox" type="text" id="game_rdate" name="txt_game_rdate" required placeholder="2025/07/20" pattern="\d\d\d\d/\d\d/\d\d">
                                <p>Date must be YYYY\MM\DD</p>
                                <br>
                                <input type="submit" value="Submit" class="submit_button">
                        </form>
                </div>
        </div>
</div>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src=" {{ url_for('static', filename='scripts/game_add.js') }}"></script>
{% endblock %}