{% extends "layout.html" %}
{% block content %}
<p id="update_name" style="display: none;">Game</p>
<script src="http://code.jquery.com/jquery.min.js"></script>
<div id="page_mainbody">
        <div id="home_paragraph1">
                {% if game_data is not none %}   
                    <h3 id="page_header">{{ game_data.game_title }}</h3>
                {% else %}
                    <h3 id="page_header">Dinner's Ready!</h3>
                {% endif %}
                <div id="page_mainbody_home">
                        {% if game_data is not none %}
                            <p style="display: none;" id="game_id">ID: {{ game_data.game_id }}</p>
                            {% if game_data.game_aka is not none %}
                                <p>Alternate Titles: {{ game_data.game_aka }}</p>
                            {% else %}
                                <p>Alternate Titles: This game has no alternate titles</p>
                            {% endif %}
                            {% if game_data.game_desc is not none %}
                                <p>Description: {{ game_data.game_desc }}</p>
                            {% else %}
                                <p>Description: This game has no description</p>
                            {% endif %}
                            <p>Release Date: {{ game_data.game_rdate }}</p>
                            <p>Release State: {{ game_data.game_rstate }}</p>
                            <p>Steam URL: <a href="{{ game_data.game_url }}">{{ game_data.game_url }}</a></p>
                            {% if is_approved == false %}
                                {% if denied is false %}
                                    <p id="needs_approval">This game is awaiting approval.</p>
                                    {% if current_user.is_mod %}
                                        <a href="{{ url_for('mod_approval_games_validate', game_id=game_data.game_id) }}" class="button" id="approve_button">Approve</a>
                                        <a class="button" id="deny_button">Deny</a>
                                        <script src=" {{ url_for('static', filename='scripts/game_denial.js') }}"></script>
                                    {% endif %}
                                {% else %}
                                    <p>This game has been denied with the following message:</p>
                                    <p>{{ denial_desc }}</p>
                                {% endif %}
                            {% else %}
                                <p>This game was approved on: {{ aDate }}</p>
                            {% endif %}
                            {% if developers is not none %}
                                <p>Developers:</p>
                                {% for developer in developers %}
                                    <a href="{{ url_for('devpub_page', devpub_id=developer.developer_id) }}">
                                        <div class="game_box">
                                            <p>{{ developer.developer_name }}</p>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <p>Developers:</p>
                                <div class="game_box">
                                    <p>This game has no known developers</p>
                                </div>
                            {% endif %}
                            {% if publishers is not none %}
                                <p>Publishers:</p>
                                {% for publisher in publishers %}
                                    <a href="{{ url_for('devpub_page', devpub_id=publisher.developer_id) }}">
                                        <div class="game_box">
                                            <p>{{ publisher.developer_name }}</p>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <p>Publishers:</p>
                                <div class="game_box">
                                    <p>This game has no known publishers</p>
                                </div>
                            {% endif %}
                            {% if tags is not none %}
                                <p>Tags:</p>
                                <div class="game_box" id="tag_box">
                                    {% for tag in tags %}
                                        <a href="{{ url_for('tag_page', tag_id=tag.tag_id) }}">                                            
                                            {% if tag.tag_type == "Normal" %}
                                                <p class="tag_type_normal">{{ tag.tag_name }}</p>
                                            {% elif tag.tag_type == "Genre" %}
                                                <p class="tag_type_genre">{{ tag.tag_name }}</p>
                                            {% elif tag.tag_type == "Feature" %}
                                                <p class="tag_type_feature">{{ tag.tag_name }}</p>
                                            {% endif %}
                                        </a>
                                    {% endfor %}
                                </div>
                                {% if is_approved == true %}
                                    <div id="change_tag_box">
                                        <p></p>
                                        <a class="button" id="change_button">Change Tags</a>
                                        <script src=" {{ url_for('static', filename='scripts/change_game_tags.js') }}"></script>
                                    </div>
                                {% endif %}
                            {% else %}
                                <p>Tags:</p>
                                <div class="game_box">
                                    <p>This game has no tags yet</p>
                                </div>
                                <div id="change_tag_box">
                                    <p></p>
                                    <a class="button" id="change_button">Change Tags</a>
                                    <script src=" {{ url_for('static', filename='scripts/change_game_tags.js') }}"></script>
                                </div>
                            {% endif %}
                            <div id="update_box">
                                    <p>Updates</p>
                                    <p style="display: none;" id="update_id">ID: {{ game_data.game_id }}</p>
                                    <a class="button" id="show_update_button">Show Updates</a>
                                    <script src=" {{ url_for('static', filename='scripts/update_show.js') }}"></script>
                                </div>
                        {% else %}
                            <p>No game data available! Someone should fire the guys that built those robots and build better ones!</p>
                            <p>(What relation does no game data and robots have in common? If I think of something, I'll be sure to write it here!)</p>
                        {% endif %}
                </div>
        </div>
</div>
{% endblock %}