{% extends "layout.html" %}
{% block content %}
<div id="page_mainbody">
        <div id="home_paragraph1">
                <h3 id="page_header">Admin: Database Management</h3>
                <div id="page_mainbody_home">
                    <a href="{{ url_for('admin_aDB_dump') }}" class="button_link"><p class="button" style="background-color: green; border-color: green; color: white;">Dump All Database Data</p></a>
                    <a href="{{ url_for('admin_aDB_delete_users') }}" class="button_link"><p class="button">Delete All Users</p></a>
                    <a href="{{ url_for('admin_aDB_delete_patients') }}" class="button_link"><p class="button">Delete All Patient Data</p></a>
                    <a href="{{ url_for('admin_aDB_delete_links') }}" class="button_link"><p class="button">Delete All Links</p></a>
                    <a href="{{ url_for('admin_aDB_delete_nuke_all') }}" class="button_link"><p class="button" style="background-color: red; border-color: red; color: white;">Delete All Data</p></a>
                </div>
        </div>
</div>
{% endblock %}